<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ergou.hailiao">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->

    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!-- 指纹权限-->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <!-- 摄像头、手电筒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Android8.0未知来源应用安装权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--&lt;!&ndash; ⼩米 配置开始 < &ndash;&gt;-->
    <!--<permission-->
    <!--android:name="cn.rongcloud.im.permission.MIPUSH_RECEIVE"-->
    <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="cn.rongcloud.im.permission.MIPUSH_RECEIVE" />-->
    <!--&lt;!&ndash; ⼩米 配置结束 < &ndash;&gt;-->
    <!--&lt;!&ndash; GCM 配置开始 < &ndash;&gt;-->
    <!--<permission-->
    <!--android:name="cn.rongcloud.im.permission.C2D_MESSAGE"-->
    <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="cn.rongcloud.im.permission.C2D_MESSAGE" />-->
    <!--&lt;!&ndash; GCM 配置结束 < &ndash;&gt;-->
    <!--&lt;!&ndash; 华为 配置开始 < &ndash;&gt;-->
    <!--&lt;!&ndash;HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--&lt;!&ndash;HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--&lt;!&ndash;检测网络状态&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--&lt;!&ndash;检测wifi状态&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--&lt;!&ndash;为了获取用户手机的IMEI，用来唯一的标识用户。&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <!--&lt;!&ndash;如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->
    <!--&lt;!&ndash; 华为 配置结束 < &ndash;&gt;-->

    <!--&lt;!&ndash; MeiZu 配置开始 < &ndash;&gt;-->
    <!--&lt;!&ndash; 兼容 flyme5.0 以下版本，魅族内部集成 pushSDK 必填，不然无法收到 消息&ndash;&gt;-->
    <!--<uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />-->
    <!--<permission-->
    <!--android:name="cn.rongcloud.im.push.permission.MESSAGE"-->
    <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="cn.rongcloud.im.push.permission.MESSAGE" />-->
    <!--&lt;!&ndash; 兼容 flyme3.0 配置权限&ndash;&gt;-->
    <!--<uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />-->
    <!--&lt;!&ndash; MeiZu 配置结束 < &ndash;&gt;-->

    <!--&lt;!&ndash; OPPPO 权限配置&ndash;&gt;-->
    <!--<uses-permission android:name="com.coloros.mcs.permission.SEND_MCS_MESSAGE" />-->
    <!--&lt;!&ndash; OPPO 配置结束&ndash;&gt;-->

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.ergou.hailiao.mvp.ui.activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ergou.hailiao.mvp.ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.ergou.hailiao"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 登录——Activity -->
        <activity
            android:name="com.ergou.hailiao.mvp.ui.activity.SignInActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心——Activity -->
        <activity
            android:name=".mvp.ui.activity.PersonalCenterActivity"
            android:screenOrientation="portrait" />
        <!--零钱——Activity -->
        <activity
            android:name=".mvp.ui.activity.SmallChangeActivity"
            android:screenOrientation="portrait" />
        <!-- 支付密码——Activity -->
        <activity
            android:name=".mvp.ui.activity.PaymenyPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 登录密码——Activity -->
        <activity
            android:name=".mvp.ui.activity.LoginPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 推广海报——Activity -->
        <activity
            android:name=".mvp.ui.activity.PromotionalPostersActivity"
            android:screenOrientation="portrait" />
        <!-- 推广收益——Activity -->
        <activity
            android:name=".mvp.ui.activity.PromotionalBenefitsActivity"
            android:screenOrientation="portrait" />
        <!-- 团队成员——Activity -->
        <activity
            android:name=".mvp.ui.activity.MyTeamActivity"
            android:screenOrientation="portrait" />
        <!-- 设置——Activity -->
        <activity
            android:name=".mvp.ui.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <!-- 修改头像——Activity -->
        <activity
            android:name=".mvp.ui.activity.ModifyHeadImgActivity"
            android:screenOrientation="portrait" />
        <!-- 忘记支付密码——Activity -->
        <activity
            android:name=".mvp.ui.activity.ForgetPaymenyPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 忘记登录密码——Activity -->
        <activity
            android:name=".mvp.ui.activity.ForgetLoginPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 搜索——Activity -->
        <activity
            android:name=".mvp.ui.activity.SearchMailListActivity"
            android:screenOrientation="portrait" />
        <!-- 充值中心——Activity -->
        <activity
            android:name=".mvp.ui.activity.RechargeActivity"
            android:screenOrientation="portrait" />
        <!-- 提现——Activity -->
        <activity
            android:name=".mvp.ui.activity.CashWithdrawalActivity"
            android:screenOrientation="portrait" />
        <!-- 提现记录——Activity -->
        <activity
            android:name=".mvp.ui.activity.CashWithdrawalRecordActivity"
            android:screenOrientation="portrait" />
        <!-- 充值记录——Activity -->
        <activity
            android:name=".mvp.ui.activity.RechargeRecordActivity"
            android:screenOrientation="portrait" />
        <!-- 充值记录详情——Activity -->
        <activity
            android:name=".mvp.ui.activity.RechargeRecordDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 转账——Activity -->
        <activity
            android:name=".mvp.ui.activity.TransferAccountsActivity"
            android:screenOrientation="portrait" />
        <!-- 转账记录——Activity -->
        <activity
            android:name=".mvp.ui.activity.TransferAccountsRecordActivity"
            android:screenOrientation="portrait" />
        <!-- 转账记录详情——Activity -->
        <activity
            android:name=".mvp.ui.activity.TransferAccountsRecordDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 红包记录——Activity -->
        <activity
            android:name=".mvp.ui.activity.RedEnvelopesRecordActivity"
            android:screenOrientation="portrait" />

        <!-- 红包——Activity -->
        <activity
            android:name=".mvp.ui.activity.RedEnvelopesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ergou.hailiao.mvp.ui.activity.TestDuihuaList"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.ergou.hailiao"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!--会话界面-->
        <activity
            android:name="com.ergou.hailiao.mvp.ui.activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.ergou.hailiao"
                    android:pathPrefix="/conversation"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ergou.hailiao.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

    </application>

</manifest>